# Laravel
/.env
/vendor/
/node_modules/

# IDE
/.idea/
/.vscode/
/*.sublime-workspace
/*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db

# Logs
/phpunit.result.cache
.phpunit.result.cache


